<%- include header %>
<!-- post part -->
<div class="g-bd">
    <div class="g-inner">
        <div class="search-tips">
            SEARCH： <span><%= query %></span>
        </div>
        <% posts.forEach(function (post, index) { %>
        <div class="m-index">
            <h2>
                <a href="article/<%= post._id %>"><%= post.title %></a>
            </h2>
            <p class="info">
                <%= post.name %> · <%= post.time.day %> · 分类：<a href="/articleList/<%= post.tag %>"><%= post.tac %></a><% if(typeof post.describe=='object'){ %>
                <%= ' · 标签：'  %>
                <% post.describe.forEach(function(i,index){ %>
                <a href="/search?keyword=<%= i %>"><%=  i %></a>
                <% }) %>
                <% } %>
            </p>
            <% if(post.prepost.length>160){%>
            <p class="pre"><%- post.prepost.substr(0,160) + '...' %></p>
            <%}else{%>
            <p class="pre"><%- post.prepost %></p>
            <%}%>
        </div>
        <% }) %>
    </div>
</div>
<%- include footer %>