<%- include header %>
<!-- header part -->
<!-- main body part -->
<link rel="stylesheet" href="/static/css/github-gist.css"/>
<div class="g-bd">
    <div class="g-inner clearfix">
        <div class="g-left">
            <article class="k-article">
                <h1><%= post.title %></h1>
                <%- post.post %>
                <br/>
                <hr/>
            </article>
            <div class="article-comment">
                <h3>评论</h3>
                <% if(post.comments.length == 0){%>
                <div class="com-container">
                    <h3 style="text-align: center;color: #bbb;">暂无评论</h3>
                </div>
                <%}else{%>
                    <% post.comments.forEach(function(comment,index){ %>
                        <div class="com-container clearfix">
                            <div class="com-avatar">
                                <img src="<%= comment.head %>" width="50px" height="50px"/>
                            </div>
                            <div class="com-right">
                                <p class="com-name"><%= comment.name %></p>
                                <p class="com-content"><%= comment.content %></p>
                                <p class="com-time"><%= comment.time %></p>
                            </div>
                        </div>
                    <%})%>
                <%}%>
                <div class="talkbox">
                    <p>在这里输入</p>
                    <div class="content-form clearfix">
                        <form action="/article/<%= post._id %>" method="post">
                            <div class="content-input">
                                <% if(user){ %>
                                <label><span>*</span> 名字：</label><input type="text" name="uname" value="<%= user.name %>"/><br/>
                                <label><span>*</span> E-mail：</label><input type="text" name="email" value="<%= user.email %>"/><br/>
                                <% }else{ %>
                                <label><span>*</span> 名字：</label><input type="text" name="uname"/><br/>
                                <label><span>*</span> E-mail：</label><input type="text" name="email"/><br/>
                                <%}%>
                                <label>评论内容：</label><textarea name="content"></textarea>
                            </div>
                            <input type="submit" value="提交">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <aside class="g-aside">
            <div class="aside-block">
                <img class="my-head" src="/static/images/avatar-my.jpg">
                <p class="my-name">Kinice</p>
                <p class="my-intro">前端开发初心者，现居北京朝阳</p>
                <p class="my-intro">详情请见——<a href="/about">关于我</a></p>
            </div>
        </aside>
    </div>
</div>
<%- include footer %>
