<%- include header %>
<!-- list part -->
<div class="g-bd">
    <div class="g-inner">
        <% if(all == 'y'){ %>
            <div class="m-kind">
                <div class="m-kind-img">
                  <a href="/articleList/about-code"><img src="/static/images/list1.png" alt="about-code"/></a>
                </div>
                <div class="m-kind-info">
                    <h2><a href="/articleList/about-code">工作日常</a></h2>
                    <ul>
                        <li>标签</li>
                        <li>标签</li>
                    </ul>
                    <p>代码技术什么的在这个地方分享</p>
                </div>
            </div>
            <div class="m-kind">
                <div class="m-kind-img">
                    <a href="/articleList/brain-hole"><img src="/static/images/list2.png" alt="about-code"/></a>
                </div>
                <div class="m-kind-info">
                    <h2><a href="/articleList/brain-hole">脑洞钻孔</a></h2>
                    <ul>
                        <li>标签</li>
                        <li>标签</li>
                    </ul>
                    <p>纪录平常开脑洞喷射出来的汁液和豆腐乳</p>
                </div>
            </div>
            <div class="m-kind">
                <div class="m-kind-img">
                    <a href="/articleList/niu-b"><img src="/static/images/list3.jpg" alt="about-code"/></a>
                </div>
                <div class="m-kind-info">
                    <h2><a href="/articleList/niu-b">牛B网文</a></h2>
                    <ul>
                        <li>标签</li>
                        <li>标签</li>
                    </ul>
                    <p>看见啥特牛B的东西就收在这里吧</p>
                </div>
            </div>
        <% } %>
        <% if(all == 'n'){ %>
        <% posts.forEach(function (post, index) { %>
        <div class="m-index">
            <h2>
                <a href="/article/<%= post._id %>"><%= post.title %></a>
            </h2>
            <p class="info">
                <%= post.name %> · <%= post.time.day %> · 分类：<a href="#"><%= post.tag %></a>
            </p>
            <% if(post.post.length>160){%>
            <p class="pre"><%- post.post.substr(0,100) + '...' %></p>
            <%}else{%>
            <p class="pre"><%- post.post %></p>
            <%}%>
        </div>
        <% }) %>
        <% } %>
    </div>
</div>
<%- include footer %> 