<%- include header %>
<!-- list part -->
<div class="g-bd">
    <div class="g-inner">
        <div class="m-kind-list">
            <div class="m-kind">
                <a href="/articleList/about-code">
                    <img src="/static/images/list1.png" alt="about-code"/>
                </a>
            </div>
            <div class="m-kind">
                <a href="/articleList/brain-hole"><img src="/static/images/list2.png" alt="about-code"/></a>
            </div>
            <div class="m-kind">
                <a href="/articleList/niu-b"><img src="/static/images/list3.jpg" alt="about-code"/></a>
            </div>
        </div>
        <div class="m-art-list">
            <% posts.forEach(function (post, index) { %>
            <p><h2><a href="article/<%= post.name %>/<%= post.time.day %>/<%= post.title%>"><%= post.title %></a></h2></p>
            <p class="info">
                作者：<%= post.name %> |
                日期：<%= post.time.day %>
            </p>
            <p>
                标签：<%= post.tag %>
            </p>
            <p><%- post.post %></p>
        <% }) %>
        </div>
    </div>
</div>
<%- include footer %>