<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/static/css/basic.css" />
    <link rel="stylesheet" href="/static/css/common.css"/>
</head>
<body>
<div class="g-hd">
    <div class="m-logo">
        <h1><%= title %></h1>
    </div>
    <div class="m-nav">
        <div class="u-nav">
            <ul>
                <li><a href="/">主页</a></li>
                <li><a href="/about">关于我</a></li>
                <li><a href="/articalList">文章列表</a></li>
            </ul>
        </div>
        <div class="u-user">
            <% if(success){ %>
                <script>
                    window.onload = function(){
                        alert('<%= success %>');
                    }
                </script>
            <% } %>
            <% if(error){ %>
            <script>
                window.onload = function(){
                    alert('<%= error %>');
                }
            </script>
            <% } %>
            <% if(user){ %>
            <h1>欢迎你！ <%= user.name %></h1>
            <a href="/logout">登出</a>
            <% } %>
            <% if(!user){ %>
            <a href="/login">登录</a>
            |
            <a href="/reg">注册</a>
            <% } %>

        </div>
    </div>
</div>