<%- include header %>
    <div class="g-bd">
        <div class="g-top">
            <div class="m-info">
                <h1>Kinice`s BLOG</h1>
                <p>We are dreamers larger than life</p>
            </div>
        </div>
        <div class="g-inner">
            <% posts.forEach(function (post, index) { %>
            <div class="m-index">
              <h2>			  
                  <a href="article/<%= post._id %>"><%= post.title %></a>
                  <% if(user && user.name === 'Kinice'){ %>
                  <a href="remove/<%= post._id %>"><i class="iconfont delete">&#xe611</i></a>
                  <% } %>
              </h2>
              <p class="info">
                <%= post.name %> · <%= post.time.day %> · 分类：<a href="/articleList/<%= post.tag %>"><%= post.tac %></a><% if(typeof post.describe=='object'){ %>
                    <%=' · 标签：'%>
                    <% post.describe.forEach(function(i,index){ %>
                         <a href="/search?keyword=<%= i %>"><%= i %></a>
                    <% }) %>
                  <% } %>
              </p>
              <% if(post.prepost.length>160){%>
              <p class="pre"><%- post.prepost.substr(0,160) + '...' %></p>
              <%}else{%>
              <p class="pre"><%- post.prepost %></p>
              <%}%>
            </div>
            <% }) %>
        </div>
    </div>
<%- include footer %>
