<%- include header %>
    <!-- header part -->
    <!-- main body part -->
    <div class="g-bd">
        <div class="g-top">
            <div class="m-info">
                <h1>Kinice`s BLOG</h1>
                <p>想做什么，就去做吧</p>
            </div>
        </div>
        <div class="g-inner">
            <% posts.forEach(function (post, index) { %>
              <p><h2><a href="article/<%= post.name %>/<%= post.time.day %>/<%= post.title%>"><%= post.title %></a></h2></p>
              <p class="info">
                作者：<a href="#"><%= post.name %></a> | 
                日期：<%= post.time.day %>
              </p>
              <p>
                标签：<%= post.tag %>
              </p>
              <p><%- post.post %></p>
            <% }) %>
        </div>
    </div>
<%- include footer %>
