<%- include header %>
    <!-- header part -->
    <!-- main body part -->
    <div class="g-bd">
        <div class="g-top">
            <div class="m-info">
                <h1>Kinice`s BLOG</h1>
                <p>想做什么，就去做吧</p>
            </div>
        </div>
        <div class="g-inner">
            <% posts.forEach(function (post, index) { %>
            <div class="m-index">
              <h2>			  
                  <a href="article/<%= post._id %>"><%= post.title %></a>
              </h2>
              <p class="info">
                <%= post.name %> · <%= post.time.day %> · 分类：<a href="#"><%= post.tag %></a>
              </p>
              <% if(post.post.length>160){%>
              <p class="pre">&nbsp;&nbsp;<%- post.post.substr(0,160) + '...' %></p>
              <%}else{%>
              <p class="pre"><%- post.post %></p>
              <%}%>
            </div>
            <% }) %>
        </div>
    </div>
<%- include footer %>
