<%- include header %>
    <!-- header part -->
    <!-- main body part -->
    <div class="g-bd">
        <div class="g-top">
            <div class="m-info">
                <h1>Kinice`s BLOG</h1>
                <p>想做什么，就去做吧</p>
            </div>
        </div>
        <div class="g-inner">
            <% posts.forEach(function (post, index) { %>
            <div class="m-index">
              <h2>
                  <a href="article/<%= post.name %>/<%= post.time.day %>/<%= post.title%>"><%= post.title %></a>
              </h2>
              <p class="info">
                <a href="#"><%= post.name %></a> · <%= post.time.day %>
              </p>
              <p>
                标签：<%= post.tag %>
              </p>
              <% if(post.post.length>200){%>
              <p><%- post.post.substr(0,200) + '...' %></p>
              <%}else{%>
              <p><%- post.post %></p>
              <%}%>
            </div>
            <% }) %>
        </div>
    </div>
<%- include footer %>
